/* Dissenyar el fondo del body */
body {
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/363/368/20/dark-wood-texture-wallpaper-preview.jpg");
}

/* Dissenyar el fondo del h1 */
h1{
    font-size: 45px;
    color: white;
    text-shadow: 0.1em 0.1em 0.5em white;
    text-decoration: underline;
}

/* Dissenyar el fondo del h3 */
h3{
    text-align: center;
    font-size: 23px;
    color: white;
    text-shadow: 0 0 0.2em black;
}

/* Dissenyar el fondo del h4 */
h4{
    font-size: 16px;
    color: white;
}

/* Dissenyar el fondo del p */
p{
    margin: 0 auto;
    margin-top: 15px;
    width: 180px;
    height: auto;
    background-color: white;
    border-radius: 10px 10px 0px 10px;
    font-size: 18px;
    text-align: center;
    color : black;
}

/* Dissenyar el fondo del table */
table {
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: solid;
}

/* Dissenyar el fondo del .urgent */
.urgent {
    margin: 0 auto;
    width: 150px;
    height: auto;
    background-color: yellow;
    border-radius: 15px 15px 0px 15px;
    font-size: 18px;
    text-align: center;
    color : black;
    margin-top: 15px;
}

/* Dissenyar el fondo del .poc */
.poc {
    margin: 0 auto;
    width: 150px;
    height: auto;
    background-color: green;
    border-radius: 15px 15px 0px 15px;
    font-size: 18px;
    text-align: center;
    color : black;
    margin-top: 15px;
}

/* Dissenyar el fondo del .molt */
.molt {
    margin: 0 auto;
    width: 150px;
    height: auto;
    background-color: red;
    border-radius: 15px 15px 0px 15px;
    font-size: 18px;
    text-align: center;
    color : black;
    margin-top: 15px;
}

/* Dissenyar el fondo del #div */
#div {
    width: 220px;
    height: 500px;
    padding: 10px;
    opacity: 0.7;
}

/* Dissenyar el fondo del #div1 */
#div1 {
    width: 250px;
    height: 500px;
    padding: 10px;
    opacity: 0.7;
}

/* Dissenyar el fondo del #div2 */
#div2 {
    width: 250px;
    height: 350px;
    padding: 10px;
    opacity: 0.7;
}

/* Dissenyar el fondo del #div3 */
#div3 {
    width: 250px;
    height: 350px;
    padding: 10px;
    opacity: 0.7;
}